/* 

    .card {
    border: 2px solid #e0e0e0; 
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin-bottom: 20px; 
    padding: 10px;
    margin: 10px;
  }
  .large-textarea {
    width: 100%;
    height: 150px; 
    width: 100px; 
  }
  .large-textarea {
    width: 100%;
    height: 150px; 
    width: 500px; 
  }



  .flex-container {
    display: flex;
    justify-content: space-between;
}
.flex-item {
    flex: 1;
   
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.grid-item {
  padding: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  background-color: #f2f2f2;
  text-align: left;
} */

/* 
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.grid-item {
  padding: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  background-color: #f2f2f2;
  text-align: left;
} */


/* 
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.grid-item {
  padding: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  background-color: #f2f2f2;
  text-align: left;
} */


/* .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.grid-item {
  padding: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  background-color: #f2f2f2;
  text-align: left;
} */

/* table design css */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.grid-item {
  padding: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  background-color: #f2f2f2;
  text-align: left;
}




/* additionally  */
 
.table {
  width: 100%;
}

.table td {
  padding: 8px;
  max-width: 400px;

}

.table a {
  /* display: block;  */
  width: 100%;
 
}

.edited {
  background-color: #d4edda; /* Light green background for edited rows */
}

.moved {
  background-color: #d1ecf1; /* Light blue background for moved rows */
}

.edited-row {
  background-color: #e6f7ff; /* Light blue background */
}
.moved-item {
  background-color: #d4edda; /* Light green background for moved items */
  border-left: 5px solid #28a745; /* Green border to indicate moved status */
}


.highlight {
  background-color: orange;
}

/* .moved {
  background-color: #e0f7fa; 
} */

.visited {
  background-color:rgb(172, 163, 163); 
}

